[package]
name = "metrics"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
csv = "1.3"
sysinfo = { version = "0.30", features = ["multithread"] }
anyhow = "1"

